# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages for data science
- commonly used libraries
- data science tools
- arithmetic expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. SciPy

| Data Science Tools |
|--------------------|
| KNIME              |
| Python             |
| R                  |
| MySql              |
| Tensorflow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

Minutes = 200
Hours = 200/60
print(Hours)

3.3333333333333335

## Author
Vivek A